name: 'build-test'
on: # rebuild any PRs and main branch changes
  pull_request:
  push:
    branches:
      - main
      - 'releases/*'

jobs:
  build: # make sure build/ci work properly
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - run: |
          npm install
      - run: |
          npm run all
  issue_check_job:
    runs-on: ubuntu-latest
    name: A job to check issues
    steps:
      - name: Issue Check action step
        uses: stevenzeck/issue-checker@0.0.5-beta
        with:
          repo-token: "${{ secrets.GITHUB_TOKEN }}"
          issue-label-name: 'waiting-for-user-information'
          issue-label-color: 'ffffff'
          issue-comment: "Sorry, we need more information."
          issue-check-tasks: 'true'
          issue-keywords: 'recreate'
